@import "../utils/mixins";

/* Base tag */

body {
    margin: 0;
    font-family: 'Roboto';
    min-height: 780px;
    min-width: 1024px;
}

html, body {
  
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root, main {
  height: calc(100% - 36px);
}
@include desktop {
  #root, main {
    height: calc(100% - 45px);
  }
}

main {
  display: flex;
}