@import "../../utils/mixins";

/* DisplayMainData component */

@include desktopMini {
    .display {
        padding-top: 85px;
        margin-left: 94px;
        &__h1 {
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 24px;
        }
        &__span {
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 24px;
            color: #FF0101;
        }
        &__p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
        }
        &__keyData {
            margin-top: 57px;
            left: 75%;
            margin-top: 40px;
        }
    }
}

@include desktop {
    .display {
        padding-top: 68px;
        &__keyData {
            width: 20%;
            margin-top: 59px;
        }
    }
}

@include desktopMaxHeight {
    .display  {
        flex: 1;
    }
}