/* import police on google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/* Variable for color and animation duration */ /* Maps for responsive device */
/* Maps for responsive device */
/* Mixins for responsive device */
/* Maps for responsive device */
/* Mixins for responsive device */ /* Base tag */
body {
  margin: 0;
  font-family: "Roboto";
  min-height: 780px;
  min-width: 1024px;
}

html, body {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root, main {
  height: calc(100% - 36px);
}

@media screen and (min-width: 1440px) {
  #root, main {
    height: calc(100% - 45px);
  }
}
main {
  display: flex;
}

/* Maps for responsive device */
/* Mixins for responsive device */ /* Header tag */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    position: relative;
    z-index: 1;
    background-color: black;
    height: 71px;
    width: 100%;
    min-width: 100%;
  }
  .header__img {
    width: 125px;
    height: 40px;
    margin-left: 20px;
  }
  .header__nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .header__ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .header__li {
    list-style-type: none;
  }
  .header__a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: white;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 91px;
  }
  .header__img {
    width: 178px;
    height: 60px;
    margin-left: 28px;
  }
  .header__a {
    font-size: 24px;
    line-height: 24px;
  }
}
/* Maps for responsive device */
/* Mixins for responsive device */ /* Footer tag */
@media screen and (min-width: 1024px) {
  .side-nav {
    background-color: black;
    width: 87px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .side-nav__maindiv {
    max-width: 100%;
  }
  .side-nav__div {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .side-nav__img {
    width: 34px;
    height: 34px;
  }
  .side-nav__img--margin {
    margin-bottom: 20px;
  }
  .side-nav__p {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    transform: rotate(-90deg);
    width: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 140px;
    left: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .side-nav {
    width: 117px;
    height: 100%;
  }
  .side-nav__img {
    width: 64px;
    height: 64px;
  }
  .side-nav__p {
    font-size: 12px;
    line-height: 24px;
    left: -47px;
  }
}
@media screen and (min-width: 1440px) and (max-height: 940px) {
  .side-nav__p {
    bottom: 100px;
  }
}
/* Maps for responsive device */
/* Mixins for responsive device */ /* DisplayMainData component */
@media screen and (min-width: 1024px) {
  .display {
    padding-top: 85px;
    margin-left: 94px;
  }
  .display__h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
  }
  .display__span {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    color: #FF0101;
  }
  .display__p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .display__keyData {
    margin-top: 57px;
    left: 75%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .display {
    padding-top: 68px;
  }
  .display__keyData {
    width: 20%;
    margin-top: 59px;
  }
}
@media screen and (min-height: 1000px) {
  .display {
    flex: 1;
  }
}
/* Maps for responsive device */
/* Mixins for responsive device */ /* DisplayMainData component */
@media screen and (min-width: 1024px) {
  .DisplayKeyData {
    display: flex;
    align-items: center;
    height: 88px;
    border-radius: 5px;
    background-color: #FBFBFB;
  }
  .DisplayKeyData__img {
    width: 50px;
    height: 50px;
    margin-left: 32px;
  }
  .DisplayKeyData__div {
    margin-left: 24px;
  }
  .DisplayKeyData__p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
  }
  .DisplayKeyData__p--font {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .DisplayKeyData {
    justify-content: space-around;
  }
  .DisplayKeyData__img {
    width: 60px;
    height: 60px;
    margin-left: unset;
  }
  .DisplayKeyData__div {
    margin-left: unset;
  }
}
/* Variable for color and animation duration */
/* Style for home page */
.home__section {
  text-align: center;
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.home__h1 {
  margin-bottom: 50px;
  font-size: 28px;
}
.home__div {
  display: flex;
  flex-direction: column;
}
.home__link {
  color: white;
  width: 90px;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  background-color: #E60000;
  padding: 10px 0px;
  border-radius: 10px;
  transition: all 500ms;
}
.home__link--margin {
  margin-top: 20px;
}
.home__link:hover {
  transform: scale(1.2);
}

/* Variable for color and animation duration */
/* Style for home page */
@media screen and (min-width: 1440px) and (max-height: 940px) {
  .dashboard__keyData {
    margin-top: 70px;
  }
  .dashboard__flex {
    margin-bottom: unset;
  }
}
@media screen and (min-width: 1024px) and (max-height: 940px) {
  .dashboard__activity {
    margin-top: 37px;
  }
  .dashboard__activity {
    margin-left: 84px;
    height: 260px;
  }
  .dashboard__keyData {
    height: 480px;
    margin-top: 60px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dashboard__flex {
    margin-left: 84px;
  }
  .dashboard__flex--average {
    display: block;
    background-color: #FF0000;
    width: 32%;
    height: 180px;
    border-radius: 5px;
  }
  .dashboard__flex--performance {
    display: block;
    background-color: #FF0000;
    height: 180px;
    width: 32%;
    border-radius: 5px;
  }
  .dashboard__flex--score {
    display: block;
    height: 180px;
    background-color: #FF0000;
    width: 32%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1024px) and (min-height: 940px) {
  .dashboard__activity {
    width: 78%;
    height: 320px;
    margin-top: 77px;
    margin-left: 84px;
  }
  .dashboard__flex {
    margin-left: 84px;
  }
  .dashboard__keyData {
    height: 550px;
    margin-top: 60px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dashboard__flex--average {
    height: 200px;
  }
  .dashboard__flex--performance {
    height: 200px;
  }
  .dashboard__flex--score {
    height: 200px;
  }
}
@media screen and (min-width: 1440px) and (min-height: 940px) {
  .dashboard__activity {
    width: 78%;
    height: 320px;
    margin-top: 77px;
    margin-left: 84px;
  }
  .dashboard__keyData {
    height: 550px;
    margin-top: 60px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) and (min-height: 1000px) {
  .dashboard__keyData {
    margin-right: 50px;
    height: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
  }
  .dashboard__flex--average {
    height: 200px;
  }
  .dashboard__flex--performance {
    height: 200px;
  }
  .dashboard__flex--score {
    height: 200px;
  }
}
@media screen and (min-width: 1024px) and (min-height: 1100px) {
  .dashboard__keyData {
    justify-content: space-around;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1024px) and (min-height: 1300px) {
  .dashboard__keyData {
    margin-top: 30px;
  }
  .dashboard__activity {
    height: 400px;
  }
  .dashboard__flex--average {
    height: 280px;
  }
  .dashboard__flex--performance {
    height: 280px;
  }
  .dashboard__flex--score {
    height: 280px;
  }
}
@media screen and (min-height: 950px) {
  main {
    position: unset !important;
  }
}
@media screen and (min-width: 1024px) {
  main {
    position: relative;
  }
  .dashboard__all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
  }
  .dashboard__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .dashboard__charts {
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
  }
  .dashboard__activity {
    display: block;
    background-color: #FBFBFB;
    width: 80%;
    border-radius: 5px;
    margin-top: 57px;
  }
  .dashboard__keyData {
    width: 240px;
  }
  .dashboard__flex {
    display: flex;
    margin-top: 30px;
    width: 80%;
    justify-content: space-between;
  }
  .dashboard__flex--average {
    display: block;
    background-color: #FF0000;
    width: 32%;
    border-radius: 5px;
  }
  .dashboard__flex--performance {
    display: block;
    background-color: #282D30;
    width: 32%;
    border-radius: 5px;
  }
  .dashboard__flex--score {
    display: block;
    background-color: #FBFBFB;
    width: 32%;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    position: relative;
  }
  .dashboard__keyData {
    width: 16%;
  }
  .dashboard__flex {
    width: 80%;
  }
  .dashboard__flex__two {
    height: 263px;
    width: 32%;
  }
  .dashboard__flex__three {
    height: 263px;
    width: 32%;
  }
  .dashboard__flex__four {
    height: 263px;
    width: 32%;
  }
}
@media screen and (min-height: 1000px) {
  .dashboard__all {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
  }
  .dashboard__data {
    flex: 5;
    align-items: unset;
  }
  .dashboard__charts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
